<h1>About Island Color</h1>

<%= react_component('AboutPage') %>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis itaque temporibus, fugiat enim cupiditate voluptate suscipit delectus consequatur incidunt laudantium placeat qui quod est dignissimos voluptatem id reiciendis aut voluptatum!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis itaque temporibus, fugiat enim cupiditate voluptate suscipit delectus consequatur incidunt laudantium placeat qui quod est dignissimos voluptatem id reiciendis aut voluptatum!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis itaque temporibus, fugiat enim cupiditate voluptate suscipit delectus consequatur incidunt laudantium placeat qui quod est dignissimos voluptatem id reiciendis aut voluptatum!</p>